<!DOCTYPE HTML>
<html>
<head>
    <title>十年之约博客提交成功</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="十年之约,十年之约签约博客申请">
    <meta name="description" content="记录我们的十年">
    <link rel="Bookmark" href="https://foreverblog.cn/favicon.ico" >
    <link rel="Shortcut Icon" href="https://foreverblog.cn/favicon.ico" />
    <link href="__PUBLIC_HOME__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<h1>十年之约</h1>
<div class="contact">
    <h2>博客提交成功！</h2>
    <hr>
    <h3>我们会尽快为你添加博客信息！<br/>十年之约官网：<a href="https://foreverblog.cn/" target="_blank" title="十年之约" >Foreverblog.cn</a><br/>十年之约论坛：<a href="http://bbs.foreverblog.cn/" target="_blank" title="十年之约论坛" >bbs.foreverblog.cn</a></h3>
    <p>欢迎加入"十年之约"（QQ群：702409956），交流分享！</p>
    <input type="button" value="返回" onclick="javascript:history.go(-1);">
</div>
<div class="copyright">
    <p>由<a href="https://qq52o.me/" target="_blank" title="沈唁志,一个PHPer的成长之路" >沈唁志</a>提供技术支持</p>
</div>
</body>
</html>