
<include file="Public:header" />
<!--/_header 作为公共模版分离出去-->
<include file="Public:menu" />

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 博客管理 <span class="c-gray en">&gt;</span> 申请列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="3%"><input type="checkbox" name="" value=""></th>
                        <th width="3%">ID</th>
                        <th width="5%">博客名称</th>
                        <th width="10%">博客链接</th>
                        <th width="10%">博主邮箱</th>
                        <th width="8%">博主头像</th>
                        <th width="15%">博主寄语</th>
                        <th width="15%">大事记</th>
                        <th width="10%">申请时间</th>
                        <th width="6%">状态</th>
                        <th width="6%">邮件状态</th>
                        <th width="*">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="data" id="vo">
                        <tr class="text-c">
                            <td><input type="checkbox" value="1" name=""></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.blog_name}</td>
                            <td><a href="{$vo.blog_url}" target="_blank" >{$vo.blog_url}</a></td>
                            <td>{$vo.blog_email}</td>
                            <td>{$vo.blog_imgurl}</td>
                            <td class="text-l">{$vo.send_word}</td>
                            <td class="text-l">{$vo.memorabilia}</td>
                            <td>{$vo.create_at|date="Y-m-d H:i:s",###}</td>
                            <td class="td-status">
                                <if condition="$vo.blog_status eq 9 "><span class="label label-defaunt radius" style="background-color: red;">未通过</span>
                                    <elseif condition="$vo.blog_status eq 1 "/><span class="label label-success radius" >已通过</span>
                                    <else /><span class="label label-defaunt radius" >未审核</span>
                                </if>
                            </td>
                            <td>
                                <if condition="$vo.is_mail eq 1 "><span class="label label-defaunt radius" style="background-color: red;">已发送</span>
                                    <else /><span class="label label-defaunt radius" >未发送</span>
                                </if>
                            </td>
                            <td class="td-manage">
                                <if condition="$vo.blog_status eq 1 ">
                                    <if condition="$vo.is_mail eq 1 "> 已通知博主
                                        <else />
                                        <a style="text-decoration:none"  href="{:U('regret','id='.$vo['id'])}" title="撤销审核"><i class="Hui-iconfont">&#xe706;</i>撤销审核</a>&nbsp;<a style="text-decoration:none"  href="{:U('send','id='.$vo['id'])}" title="发送邮件"><i class="Hui-iconfont">&#xe6a7;</i>发送邮件</a>
                                    </if>
                                    <elseif condition="$vo.blog_status eq 9"/>
                                    <if condition="$vo.is_mail eq 1 "> 已通知博主
                                        <else />
                                        <a style="text-decoration:none"  href="{:U('regret','id='.$vo['id'])}" title="撤销审核"><i class="Hui-iconfont">&#xe706;</i>撤销审核</a>&nbsp;<a style="text-decoration:none"  href="{:U('send','id='.$vo['id'])}" title="发送邮件"><i class="Hui-iconfont">&#xe6a7;</i>发送邮件</a>
                                    </if>
                                    <else />
                                </if>
                            </td>
                        </tr>
                    </volist>
                    </tbody>

                </table>
            </div>
        </article>
    </div>
</section>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/static/h-ui.admin/js/H-ui.admin.page.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "asc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0]}// 制定列不参与排序
            ]
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>