
<include file="Public:header" />


<include file="Public:menu" />

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        管理员管理
        <span class="c-gray en">&gt;</span>
        管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <if condition="$Think.session.admin.id eq 1"> <span class="l"><a href="javascript:;" onclick="admin_add('添加管理员','{:U('add')}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a> </span>
                    <else />
                </if>

                <span class="r">共有数据：<strong>{$adminnum}</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="9">管理员列表</th>
                </tr>
                <tr class="text-c">
                    <th width="5%"><input type="checkbox" name="" value=""></th>
                    <th width="5%">ID</th>
                    <th width="10%">登录名</th>
                    <th width="10%">昵称</th>
                    <th width="15%">上次登录IP</th>
                    <th width="8%">角色</th>
                    <th width="15%">加入时间</th>
                    <th width="15%">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="data" id="vo">
                <tr class="text-c">
                    <td><input type="checkbox" value="1" name=""></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.nickname}</td>
                    <td>{$vo.last_ip}</td>
                    <td>
                        <if condition="$vo.level eq 0"> 超级管理员
                            <elseif condition="$vo.level eq 1"/> 管理员
                            <else /> 审核人员
                        </if>
                    </td>
                    <td>{$vo.create_at|date="Y-m-d H:i:s",###}</td>
                    <td class="td-manage">
                        <if condition="$vo.id eq 1">
                            <else/>
                            <a title="编辑" href="javascript:;" onclick="admin_edit('修改','{:U('edit','id='.$vo['id'])}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                        </if>
                        <if condition="$vo.id eq 1">
                            <else />
                            <a title="删除" href="{:U('del')}?id={$vo.id}" onclick="return confirm('确定删除吗？');" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </if>
                    </td>
                </tr>
                </volist>
                </tbody>
            </table>
        </article>
    </div>
</section>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/static/h-ui.admin/js/H-ui.admin.page.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    /*管理员-增加*/
    function admin_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-编辑*/
    function admin_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>